@{
    ViewBag.Titulo = "Listagem de Listas de Compras";
}

@model List<ListarListaComprasViewModel>;


<a class="btn btn-outline-primary rounded-pill px-4 mb-3" asp-action="Cadastrar">Cadastrar Nova</a>

@if (TempData["MensagemErro"] is string mensagemErro)
{
    <div class="alert alert-danger border-start border-danger border-4 rounded-3" role="alert">
        @mensagemErro
    </div>
}

@if (Model.Count == 0)
{
    <div class="alert alert-primary border-start border-primary border-2 rounded-3" role="alert">
        Nenhuma lista cadastrada.
    </div>
}
else
{
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
        @foreach (var lc in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3">
                            <h5 class="card-title mb-0">@lc.Nome</h5>
                            <span class="badge text-bg-primary rounded-pill">@lc.Id</span>
                        </div>

                        <dl class="row g-2 mb-4">
                            <dt class="col-6 text-secondary fw-semibold">Data de Criação</dt>
                            <dd class="col-6 mb-0 text-break">@lc.DataCriacao.ToString("dd/MM/yyyy")</dd>

                            <dt class="col-6 text-secondary fw-semibold">Quantidade de Itens</dt>
                            <dd class="col-6 mb-0 text-break">@lc.Quantidade</dd>

                            <dt class="col-6 text-secondary fw-semibold">Status</dt>
                            <dd class="col-6 mb-0 text-break">@lc.StatusLista</dd>
                        </dl>

                        <div class="d-flex flex-wrap gap-2 mt-auto justify-content-end">
                            <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="VisualizarItens" asp-route-id="@lc.Id">Visualizar Itens</a>
                            <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="Editar" asp-route-id="@lc.Id">Editar</a>
                            <a class="btn btn-outline-primary btn-sm rounded-pill px-3" asp-action="Excluir" asp-route-id="@lc.Id">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
